<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<div th:replace="layout::div-1('Delete employee','/employeePage','Back to employee list')"></div>

<table>
    <form th:object="${employee}" method="post">
        <tr>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td th:text="*{age}"></td>
        </tr>
        <tr>
            <td th:text="*{address}"></td>
        </tr>

        <tr>
            <td th:text="*{boss.nickName}"></td>
        </tr>
        <tr>
            <td><img th:src="@{'/image/'+${employee.img}}" width="200px" height="200px"></td>
        </tr>
        <tr>
            <td>
                <audio controls>
                    <source th:src="@{'/audio/'+${employee.audio}}" type="audio/ogg">
                    <source th:src="@{'/audio/'+${employee.audio}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </td>
        </tr>
        <tr>
            <td>
                <button>Delete Customer</button>
            </td>
        </tr>
    </form>
</table>

<footer th:replace="layout::footer"></footer>
</body>
</html>