<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="layout::div-1('Detail Employee','/employeePage','Back to employee list')"></div>

<div>
    <fieldset style="width: 40%">
        <legend>Information</legend>
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${employee.name}"></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td th:text="${employee.age}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td th:text="${employee.address}"></td>
            </tr>

            <tr>
                <td>Boss:</td>
                <td th:text="${employee.boss.nickName}"></td>
            </tr>
            <tr>
                <td></td>
                <td><img th:src="@{'/image/'+${employee.img}}" width="250px" height="250px"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <audio controls>
                        <source th:src="@{'/audio/'+${employee.audio}}" type="audio/ogg">
                        <source th:src="@{'/audio/'+${employee.audio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </td>
            </tr>
        </table>
    </fieldset>
</div>

</body>
</html>